[Desktop Entry]
Name=Bouquet Handmouthdancer Wax under Wolcnum

X-KDE-PluginInfo-Name=bouquet_handmouthdancer_wax_under_wolcnum
X-KDE-PluginInfo-Author=VIRMSKVLL
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-SA
