[Desktop Entry]
Name=Bouquet FLCL

X-KDE-PluginInfo-Name=bouquet_flcl
X-KDE-PluginInfo-Author=VIRMSKVLL
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-SA
