[Desktop Entry]
Name=Bouquet Frutiger Retro

X-KDE-PluginInfo-Name=bouquet_???_frutiger_retro
X-KDE-PluginInfo-Author=VIRMSKVLL
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-SA
