[Desktop Entry]
Name=Bouquet Annie Spratt

X-KDE-PluginInfo-Name=Bouquet Suite
X-KDE-PluginInfo-Author=VIRMSKVLL
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-SA
