[Desktop Entry]
Name=Bouquet Takanaka

X-KDE-PluginInfo-Name=bouquet_takanaka
X-KDE-PluginInfo-Author=VIRMSKVLL
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-SA
